.nav-button {
  cursor: pointer;
  padding: 0.25rem;

  &.is-open {
    .hamburger-bar {
      transition-delay: 0.14s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: rotate(45deg);

      &:before {
        top: 0;
        transition: top 0.1s ease, opacity 0.1s 0.14s ease,
          background-color 0.2s;
        opacity: 0;
      }

      &:after {
        bottom: 0;
        transition: bottom 0.1s ease,
          transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: rotate(-90deg);
      }
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px #fff;
    border-radius: 0.125rem;
  }

  .hamburger-btn {
    position: relative;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
  }

  .hamburger-bar,
  .hamburger-bar:after,
  .hamburger-bar:before {
    position: absolute;
    width: 100%;
    height: 1px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 1px;
    background-color: #fff;
  }

  .hamburger-bar {
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 0.1s;
    display: block;

    &:before {
      transition: top 0.1s 0.14s ease, opacity 0.1s ease;
      top: -8px;
    }

    &:after {
      transition: bottom 0.1s 0.14s ease,
        transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      bottom: -8px;
    }

    &:before,
    &:after {
      display: block;
      content: "";
    }
  }
}
